@media (max-width: 767px){
	/*Menu*/
	#superfish-1-toggle:before{
	    content: "\e904";
	    padding: 10px;
	    padding-left: 20px;
	    background: #5B1612;
	    color: #fff;
	    float: left;
	    margin-top: 5px;
	}
}